POSTGRES_PASSWORD=
REDIS_PASSWORD=
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://postgres:SUA_SENHA_POSTGRES@evolution-postgres:5432/evolution_db
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://:SUA_SENHA_REDIS@evolution-redis:6379
SERVER_URL=http://localhost:8080
AUTHENTICATION_API_KEY=
N8N_USER=admin
N8N_PASSWORD=
